<div class="articles" id="articles-container">
    <!-- Placeholder for Dynamically Loaded Articles in the format: -->
    <% articles.forEach((article) => { %>
    <div class="article-container">
        <a href="/articles/<%= article._id %>">
            <img src="<%= article.imageUrl %>" alt="<%= article.title %>" />
            <h5><%= article.title %></h5>
            <h6>Read More &rarr;</h6>
            <p>
                <%= article.author %> &#183; <%= new
                Date(article.date).toLocaleDateString('en-US', { month: 'short',
                day: '2-digit', year: 'numeric' }) %>
            </p>
        </a>
    </div>
    <% }); %>
</div>
