<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/css/articles.css" />
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <section class="page">
            <div class="article">
                <!-- Placeholder for Dynamically Loaded Article -->
                <h2><%= title %></h2>
                <p>
                    <%= author %> &#183; <%= new
                    Date(date).toLocaleDateString() %>
                </p>
                <img src="<%= imageUrl %>" alt="<%= title %>" />
                <h3><%= content %></h3>
            </div>
        </section>
        <!--Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>